@charset "UTF-8";

.complex-tab-table {
  .next-tabs-medium .next-tabs-tab-inner {
    height: 40px;
    line-height: 40px;
  }
}
.headerright{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.userscore{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #000;
  color:#000;
}
.userscore:nth-last-child{
  border-bottom:none;
}
.userbox{
  width:100%;
  height:100%;
  overflow: hidden;
}
.users{
  width:100%;
  flex:1;
  height:200px;
  overflow: hidden;
  overflow-y: auto;
}